* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

img {
    display: block;
}

body {
    margin-top: 152px;
}

body.active {
    overflow: hidden;
}

body.active::after {
    content: '';
    position: fixed;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 9;
}

.zmain {
    background-color: #F8F9FA;
    display: flex;
    flex-direction: column;
    gap: 90px;
    padding-bottom: 90px;
}

@media screen and (max-width: 992px) {
    body {
        margin-top: 135px;
    }
}

@media screen and (max-width: 768px) {
    body {
        margin-top: 125px;
    }
}

@media screen and (max-width: 576px) {
    .zmain {
        gap: 40px;
        padding-bottom: 40px;
    }
}

.zcontainer {
    max-width: 1300px;
    margin: 0 auto;
}

.zgeneral__title {
    color: #34322D;
    font-size: 34px;
    font-weight: 600;
    line-height: 135%;
    text-transform: uppercase;
}

.zgeneral__title.white {
    color: #fff;
}

@media screen and (max-width: 1350px) {
    .zcontainer {
        margin: 0 25px;
    }
}

@media screen and (max-width: 350px) {
    .zcontainer {
        margin: 0 15px;
    }
}


@media screen and (max-width: 992px) {
    .zgeneral__title {
        font-size: 28px;
    }
}

@media screen and (max-width: 576px) {
    .zgeneral__title {
        font-size: 24px;
    }
}

/* Header */

.zheader {
    background-color: #fff;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
}


.zheader__top-inner {
    padding-top: 9px;
    padding-bottom: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.zheader__logo img {
    width: 233px;
    height: 68px;
}

.zheader__info {
    display: flex;
    align-items: center;
    gap: 16px;
}

.zheader__info-links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.zheader__phone {
    color: #34322D;
    font-size: 16px;
    font-weight: 600;
    line-height: 135%;
    text-decoration: none;
    transition: 0.3s ease-in-out color;
}

.zheader__phone:hover {
    color: #B29470;
}

.zheader__mail {
    color: #828282;
    font-size: 14px;
    font-weight: 400;
    line-height: 135%;
    text-decoration: none;
}

.zheader__mail:hover {
    transition: 0.3s ease-in-out color;
    color: #B29470;
}

.zheader__location {
    display: flex;
    align-items: center;
    gap: 5px;
}

.zheader__location span {
    color: #828282;
    font-size: 13px;
    font-weight: 400;
    line-height: 135%;
}

.zheader__contactus {
    border-radius: 3px;
    border: 1px solid #B29470;
    padding: 10px 20px;
    background-color: transparent;
    cursor: pointer;
    color: #34322D;
    font-size: 16px;
    font-weight: 500;
    line-height: 135%;
    transition: 0.3s ease-in-out color, 0.3s ease-in-out background-color;
}

.zheader__contactus:hover {
    color: #fff;
    background-color: #B29470;
}

.zheader__bot {
    border-top: 1px solid #E0E0E0;
}

.zheader__bot-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.zheader__bot-left {
    display: flex;
    align-items: center;
    gap: 30px;
}

.zheader__cart {
    display: flex;
    align-items: center;
    gap: 7px;
    text-decoration: none;

}

.zheader__cart-icon img {
    width: 29px;
    height: 29px;
}

.zheader__cart-price {
    color: #828282;
    font-size: 14px;
    font-weight: 400;
    line-height: 135%;
}

.zheader__searchBtn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
}

.zheader__nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

.zheader__nav-list {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
}

.zheader__nav-link {
    text-decoration: none;
    color: #34322D;
    font-size: 16px;
    font-weight: 400;
    line-height: 135%;
    padding: 20px 0;
    display: block;
    transition: 0.3s ease-in-out color;
}

.zheader__nav-link:hover {
    color: #B29470;
}

.zheader__nav-catalog {
    padding: 8px 25px;
    border-radius: 3px;
    background-color: #B29470;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 135%;
    text-decoration: none;
    transition: 0.3s ease-in-out background-color;
}

.zheader__under {
    background-color: #B29470;
}

.zheader__under-inner {
    padding: 10.5px 0;
    display: flex;
    justify-content: flex-end;
}

.zheader__menu-btn {
    width: 24px;
    height: 24px;
    background-image: url(assets/icons/open.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 0;
    background-color: transparent;
    transition: background-image 0.3s ease-in-out;
}

.zheader__menu-btn.active {
    background-image: url(assets/icons/close.svg);
}

@media screen and (min-width: 993px) {
    .zheader__nav-catalog:hover {
        background-color: #A58865;
    }

    .zheader__under,
    .zheader__social,
    .zheader__cart-text,
    .zheader__contactus-wrap,
    .zheader__nav-catalogImg,
    .zheader__catalog {
        display: none;
    }
}

@media screen and (max-width: 992px) {

    .zheader__nav {
        flex-direction: column;
        padding: 25px;
        gap: 25px;
        align-items: baseline;
        width: 100%;
    }

    .zheader__catalog-btnWrap {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }

    .zheader__nav-catalogImg {
        width: 60%;
        display: flex;
        justify-content: flex-end;
    }

    .zheader__nav-catalog {
        background-color: transparent;
        padding: 0;
        color: #34322D;
        font-size: 15px;
        font-weight: 600;
        line-height: 135%;
    }

    .zheader__searchBtn {
        display: none;
    }

    .zheader__bot {
        position: fixed;
        top: 135px;
        background-color: #F8F9FA;
        left: 0;
        width: 390px;
        bottom: 0;
        border: 0;
        transform: translateX(-200%);
        transition: 0.3s ease-in-out transform;
    }

    .zheader__catalog {
        position: fixed;
        top: 0;
        background-color: #F8F9FA;
        left: 0;
        width: 390px;
        bottom: 0;
        border: 0;
        transform: translateX(-200%);
        transition: 0.3s ease-in-out transform;
    }

    .zheader__catalog.active {
        transform: translateX(0%);
    }

    .zheader__catalog-btnBack {
        padding: 25px 25px 5px 25px;
        display: flex;
        align-items: center;
        gap: 3px;
    }

    .zheader__catalog-links li {
        display: block;
        border-bottom: 1px solid #E0E0E0;
        padding: 15px 25px;
    }

    .zheader__catalog-links li:last-child {
        border: 0;
    }

    .zheader__catalog-links li a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #34322D;
        font-size: 15px;
        font-weight: 400;
        line-height: 135%;
        text-decoration: none;
    }

    .zheader__catalog-btnBack p {
        color: #34322D;
        font-size: 14px;
        font-weight: 600;
        line-height: 135%;
    }

    .zheader__bot.active {
        transform: translateX(0%);
    }

    .zheader__bot .zcontainer {
        margin: 0;
    }

    .zheader__nav-list {
        flex-direction: column;
        align-items: normal;
        gap: 25px;
    }

    .zheader__nav-link {
        padding: 0;
        font-size: 15px;
    }

    .zheader__bot-inner {
        flex-direction: column;
        align-items: normal;
    }

    .zheader__cart {
        border-top: 1px solid #E0E0E0;
        border-bottom: 1px solid #E0E0E0;
        padding: 20px 25px;
    }

    .zheader__social {
        display: flex;
        gap: 15px;
        padding: 7px 25px;
    }

    .zheader__contactus-wrap {
        padding: 25px;
    }

    .zheader__contactus {
        width: 100%;
    }

    .zheader__cart-text {
        color: #34322D;
        font-size: 14px;
        font-weight: 400;
        line-height: 135%;
    }
}

@media screen and (min-width: 769px) {
    .zheader__location {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .zheader__logo img {
        width: 185px;
        height: 54px;
    }

    .zheader__mail {
        display: none;
    }

    .zheader__info-links {
        gap: 9px;
    }

    .zheader__top-inner {
        padding: 13px 0;
    }

    .zheader__bot {
        top: 125px;
    }
}

@media screen and (max-width: 576px) {
    .zheader__phone {
        font-size: 13px;
    }
}

@media screen and (max-width: 390px) {

    .zheader__bot,
    .zheader__catalog {
        width: 100%;
    }

}

/* End header */

/* Footer */

.zfooter {
    background: radial-gradient(140.79% 121.24% at 12.81% 16.62%, #29343A 0%, #5B6C74 100%);
}

.zfooter__top {
    border-bottom: 1px solid #506169;
}

.zfooter__top-inner {
    padding-top: 91px;
    padding-bottom: 86px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 77px;
}

.zfooter__top-left {
    max-width: 563px;
}

.zfooter__top-left h2 {
    margin-bottom: 59px;
}

.zheader__top-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 88px;
    list-style: none;
}

.zheader__top-info li {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 244px;
}

.zheader__top-info li span {
    color: #6B777D;
    font-size: 16px;
    font-weight: 400;
    line-height: 135%;
}

.zheader__top-info li p {
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    line-height: 135%;
}

.zheader__top-info li a {
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    line-height: 135%;
    text-decoration: none;
}

.zheader__top-links {
    display: flex;
    gap: 15px;
}

.zheader__top-links img {
    width: 35px;
    height: 35px;
}

.zfooter__top-right {
    border-radius: 3px;
    background: #516068;
    padding: 60px 50px;
}

.zfooter__top-right h3 {
    color: #FFF;
    font-size: 26px;
    font-weight: 600;
    line-height: 135%;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.zfooter__top-right form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.zfooter__top-right form input {
    border-radius: 3px;
    background: #FFF;
    color: #6B777D;
    font-size: 16px;
    font-weight: 400;
    line-height: 135%;
    padding: 16.5px 18px;
    border: 0;
    outline: none;
}

.zfooter__top-right form button {
    border-radius: 3px;
    background: #B29470;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 135%;
    border: 0;
    cursor: pointer;
    padding: 16.5px;
    transition: 0.3s ease-in-out background-color;
}

.zfooter__top-right form button:hover {
    background-color: #A58865;
}

.zfooter__bot-inner {
    padding-top: 52px;
    padding-bottom: 34px;
    display: flex;
    justify-content: space-between;
    gap: 40px 30px;
}

.zfooter__logo {
    display: block;
    margin-bottom: 10px;
}

.zfooter__bot-left {
    margin-top: -17px;
}

.zfooter__dop {
    display: flex;
    flex-direction: column;
    gap: 7px;
    list-style: none;
}

.zfooter__dop li {
    width: fit-content;
    height: fit-content;
    color: rgba(255, 255, 255, 0.70);
    font-size: 13px;
    font-weight: 400;
    border-bottom: 1px solid rgba(255, 255, 255, 0.70);
}

.zfooter__dop li a {
    color: rgba(255, 255, 255, 0.70);
    text-decoration: none;
    transition: 0.3s ease-in-out color;
}

.zfooter__dop li a:hover {
    color: #B29470;
}

.zfooter__bot-mid {
    display: flex;
    gap: 100px;
}

.zfooter__bot-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.zfooter__bot-links li a {
    color: rgba(255, 255, 255, 0.70);
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    white-space: nowrap;
    transition: 0.3s ease-in-out color;
}

.zfooter__bot-links li a:hover {
    color: #B29470;
}

.zfooter__bot-links li:first-child a {
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    line-height: 135%;
    text-transform: uppercase;
    transition: 0.3s ease-in-out color;
}

.zfooter__bot-links li:first-child a:hover {
    color: #B29470;
}

.zfooter__bot-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 200px;
}

.zfooter__phone {
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 135%;
    text-decoration: none;
    margin-bottom: 3px;
    transition: 0.3s ease-in-out color;
}

.zfooter__phone:hover {
    color: #B29470;
}

.zfooter__mail {
    width: fit-content;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 18px;
    text-decoration: none;
    border-bottom: 1px solid;
    transition: 0.3s ease-in-out color;
}

.zfooter__mail:hover {
    color: #B29470;
}

.zfooter__location {
    color: #FFF;
    text-align: right;
    font-size: 14px;
    font-weight: 400;
    line-height: 135%;
    margin-bottom: 15px;
}

.zfooter__bot-info {
    display: flex;
    gap: 10px;
}

.zfooter__bot-info img {
    width: 30px;
    height: 30px;
}

@media screen and (max-width: 1200px) {
    .zfooter__top-inner {
        gap: 30px;
    }

    .zfooter__bot-mid {
        gap: 40px;
    }
}

@media screen and (max-width: 992px) {
    .zfooter__top-right {
        padding: 30px 25px;
    }

    .zfooter__top-left h2 {
        margin-bottom: 35px;
    }

    .zheader__top-info {
        gap: 30px;
    }

    .zheader__top-info li a {
        font-size: 16px;
    }

    .zheader__top-info li p {
        font-size: 16px;
    }

    .zfooter__bot-inner {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, auto);
    }

    .zfooter__bot-left {
        grid-area: 1 / 1 / 2 / 5;
    }

    .zfooter__bot-mid {
        grid-area: 2 / 1 / 3 / 4;
        gap: 50px;
    }

    .zfooter__bot-right {
        grid-area: 2 / 4 / 3 / 5;
    }

    .zfooter__dop {
        grid-area: 3 / 1 / 4 / 5;
    }

    .zfooter__logo {
        margin: 0;
    }
}

@media screen and (max-width: 768px) {
    .zfooter__bot-inner {
        display: flex;
        flex-direction: column;
    }

    .zfooter__bot-right {
        max-width: 100%;
        align-items: flex-start;
    }

    .zfooter__bot-left {
        order: 1;
    }

    .zfooter__bot-right {
        order: 2;
    }

    .zfooter__bot-mid {
        order: 3;
    }

    .zfooter__dop {
        order: 4;
    }

    .zheader__top-info {
        gap: 25px 30px;
    }

    .zfooter__top-inner {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 576px) {
    .zfooter__top-inner {
        padding-top: 39px;
        padding-bottom: 25px;
    }

    .zfooter__top-left h2 {
        margin-bottom: 25px;
    }

    .zheader__top-info {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
    }

    .zheader__top-info li:nth-child(1) {
        grid-area: 1 / 1 / 2 / 2;
    }

    .zheader__top-info li:nth-child(2) {
        grid-area: 1 / 2 / 2 / 3;
    }

    .zheader__top-info li:nth-child(3) {
        grid-area: 2 / 1 / 3 / 3;
    }

    .zheader__top-info li:nth-child(4) {
        grid-area: 3 / 1 / 4 / 3;
    }

    .zheader__top-info li {
        gap: 5px;
    }

    .zheader__top-info li span {
        font-size: 14px;
    }

    .zheader__top-info li p {
        font-size: 15px;
    }

    .zheader__top-info li a {
        font-size: 15px;
    }

    .zfooter__top-right {
        padding: 20px;
    }

    .zfooter__top-right h3 {
        font-size: 18px;
        margin-bottom: 15px;
    }

    .zfooter__top-right form {
        gap: 10px;
    }

    .zfooter__bot-left {
        margin: 0;
    }

    .zfooter__bot-inner {
        padding-top: 20px;
        padding-bottom: 31px;
        gap: 0;
    }

    .zfooter__phone {
        margin-bottom: 10px;
    }

    .zfooter__mail {
        margin-bottom: 18px;
    }

    .zfooter__location {
        margin-bottom: 25px;
    }

    .zfooter__bot-right {
        padding-top: 15px;
        padding-bottom: 20px;
    }

    .zfooter__bot-mid {
        padding: 20px 0;
        border-top: 1px solid #506169;
        border-bottom: 1px solid #506169;
        margin-bottom: 20px;
        flex-wrap: wrap;
        gap: 25px 40px;
    }

    .zfooter__dop {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .zfooter__dop li:first-child {
        border: 0;
    }
}

/* End footer */

/* Start mainBanner */

.zmainBanner {
    background: radial-gradient(247.57% 47.66% at 70.81% 61.58%, #4E6368 0%, #38474E 82.06%, #39484F 100%);
    overflow: hidden;
}

.zmainBanner__inner {
    padding-top: 64px;
    padding-bottom: 44px;
}

.zmainBanner__item {
    display: flex;
    align-items: center;
    gap: 177px;
}

.zmainBanner__item-left {
    max-width: 550px;
}

.zmainBanner__item-left h2 {
    color: #FFF;
    font-size: 40px;
    font-weight: 600;
    line-height: 135%;
    text-transform: uppercase;
    margin-bottom: 20px;
    width: 550px;
}

.zmainBanner__item-left p {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 135%;
    margin-bottom: 35px;
}

.zmainBanner__item-left a {
    display: inline-block;
    border-radius: 3px;
    background: #B29470;
    padding: 13px 30px;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 135%;
    text-decoration: none;
    transition: 0.3s ease-in-out background-color;
}

.zmainBanner__item-left a:hover {
    background-color: #A58865;
}

.zmainBanner__buttons {
    display: flex;
    align-items: center;
    gap: 23px;
}

.zmainBanner__buttons-quantity {
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
}

.swiper-banner-next,
.swiper-banner-prev {
    cursor: pointer;
}

@media screen and (max-width: 1300px) {
    .zmainBanner__item {
        gap: 70px;
    }
}

@media screen and (max-width: 1200px) {
    .zmainBanner__item {
        gap: 50px;
    }

    .zmainBanner__item-left h2 {
        width: 450px;
    }
}

@media screen and (max-width: 1100px) {
    .zmainBanner__item-left h2 {
        font-size: 34px;
        width: 350px;
    }
}

@media screen and (max-width: 992px) {
    .zmainBanner__item-left h2 {
        font-size: 30px;
        width: 320px;
    }

    .zmainBanner__item {
        gap: 30px;
    }
}

@media screen and (max-width: 768px) {
    .zmainBanner__item {
        flex-direction: column;
        align-items: baseline;
    }

    .zmainBanner__item-left h2 {
        width: 100%;
    }

    .zmainBanner__item-left {
        max-width: 100%;
    }
}


@media screen and (min-width: 577px) {
    .swiper-pagination-banner {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .zmainBanner__buttons {
        display: none;
    }

    .swiper-pagination-banner {
        display: flex;
        justify-content: center;
        position: relative;
        z-index: 9;
        bottom: 15px !important;
    }

    .swiper-pagination-banner .swiper-pagination-bullet {
        background-color: #FFF;
        opacity: 1;
    }

    .swiper-pagination-banner .swiper-pagination-bullet-active {
        background-color: #B29470;
    }

    .zmainBanner__item-left h2 {
        font-size: 24px;
        margin-bottom: 15px;
    }

    .zmainBanner__item-left p {
        color: #FFF;
        font-size: 14px;
        font-weight: 400;
        line-height: 135%;
        margin-bottom: 25px;
    }

    .zmainBanner__item-left a {
        font-size: 14px;
    }

    .zmainBanner__item {
        gap: 0;
    }

    .zmainBanner__item-right {
        height: 250px;
        display: flex;
        justify-content: center;
    }

    .zmainBanner__item-right img {
        height: 100%;
    }

    .zmainBanner__inner {
        padding: 0;
        padding-top: 43px;
    }
}

/* End mainBanner */

/* mainAdvat */

.zmainAdvant {
    background-color: #EEF0F2;
}

.zmainAdvant__inner {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    gap: 25px;
}

.zmainAdvant__item {
    max-width: 303px;
}

.zmainAdvant__line {
    border-left: 1px solid #E0E0E0;
}

.zmainAdvant__item h5 {
    color: #34322D;
    font-size: 18px;
    font-weight: 600;
    line-height: 135%;
    margin-bottom: 8px;
}

.zmainAdvant__item p {
    color: #34322D;
    font-size: 14px;
    font-weight: 400;
    line-height: 135%;
}

@media screen and (max-width: 768px) {
    .zmainAdvant__line {
        display: none;
    }

    .zmainAdvant__inner {
        flex-direction: column;
    }

    .zmainAdvant__item {
        max-width: 100%;
    }
}

@media screen and (max-width: 576px) {
    .zmainAdvant__inner {
        padding-top: 33px;
        padding-bottom: 40px;
    }

    .zmainAdvant__item h5 {
        font-size: 16px;
    }
}

/* End mainAdavant */

/* mainPopular */

.zmainPopular {
    background-color: #F8F9FA;
}

.zmainPopular__panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-bottom: 35px;
}

.zmainPopular__all {
    color: #828282;
    font-size: 16px;
    font-weight: 400;
    text-decoration: underline;
    transition: 0.3s ease-in-out color;
}

.zmainPopular__all:hover {
    color: #B29470;
}

.zmainPopular__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 285px);
    gap: 20px;
}

.zmainPopular__item {
    border-radius: 3px;
    background: #FFF;
    padding: 31px 33px;
    position: relative;
    overflow: hidden;
}

.zmainPopular__item a {
    display: inline-block;
    width: fit-content;
    text-decoration: none;
}

.zmainPopular__item h5 {
    color: #34322D;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: 0.3s ease-in-out color;
}

.zmainPopular__item h5:hover {
    color: #B29470;
}

.zmainPopular__item h5:hover::after {
    background-image: url(assets/icons/arr-right-gray.svg);
}

.zmainPopular__item h5::after {
    transition: 0.3s ease-in-out background-image;
    content: '';
    width: 24px;
    height: 24px;
    background-image: url(assets/icons/arr-right-black.svg);
}

.zmainPopular__item:nth-child(1) h5::after {
    content: '';
    background-image: url(assets/icons/arr-right-white.svg);
}

.zmainPopular__item:nth-child(1) h5 {
    color: #FFF;
    font-size: 30px;
    font-weight: 600;
}

.zmainPopular__item:nth-child(1) h5:hover {
    color: #B29470;
}

.zmainPopular__item:nth-child(1) h5:hover:after {
    background-image: url(assets/icons/arr-right-gray.svg);
}

.zmainPopular__item img {
    position: absolute;
    right: 0;
    bottom: 20px;
}

.zmainPopular__item:nth-child(1) img {
    bottom: 0;
}

.zmainPopular__item:nth-child(1) {
    border-radius: 3px;
    background: radial-gradient(129.14% 103.28% at 74.61% 70.59%, #29343A 0%, #5B6C74 100%);
    padding: 47px 54px;
    grid-area: 1 / 1 / 3 / 3;
}

.zmainPopular__item:nth-child(2) {
    grid-area: 1 / 3 / 2 / 4;
}

.zmainPopular__item:nth-child(3) {
    grid-area: 1 / 4 / 2 / 5;
}

.zmainPopular__item:nth-child(4) {
    grid-area: 2 / 3 / 3 / 4;
}

.zmainPopular__item:nth-child(5) {
    grid-area: 2 / 4 / 3 / 5;
}

@media screen and (max-width: 1200px) {
    .zmainPopular__item {
        padding: 20px;
    }

    .zmainPopular__item:nth-child(1) {
        padding: 40px;
    }

    .zmainPopular__item img {
        width: 90%;
    }
}

@media screen and (max-width: 992px) {
    .zmainPopular__list {
        grid-template-rows: repeat(2, 250px)
    }


    .zmainPopular__item:nth-child(1) {
        padding: 30px;
    }

}

@media screen and (max-width: 768px) {
    .zmainPopular__list {
        display: flex;
        flex-direction: column;
    }

    .zmainPopular__item {
        height: 250px;
    }

    .zmainPopular__item img {
        width: 200px;
    }
}

@media screen and (max-width: 576px) {
    .zmainPopular__list {
        gap: 10px;
    }

    .zmainPopular__panel {
        margin-bottom: 13px;
    }

    .zmainPopular__all {
        font-size: 14px;
    }

    .zmainPopular__item h5 {
        font-size: 16px;
    }

    .zmainPopular__item:nth-child(1) h5 {
        font-size: 16px;
    }

    .zmainPopular__item {
        padding: 25px;
        height: 150px;
    }

    .zmainPopular__item:nth-child(1) {
        height: 223px;
        padding: 25px;
    }

    .zmainPopular__item img {
        bottom: 0;
        width: 150px;
    }

    .zmainPopular__item:nth-child(1) img {
        width: 286px;
        bottom: -90px;
    }

    .zmainPopular__all {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

}

/* End mainPopular */

/* mainGarant */

.zmainGarant {
    position: relative;
}

.zmainGarant__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 460px;
}

.zmainGarant__left {
    position: absolute;
    left: 0;
    right: 50%;
    top: 0;
    bottom: 0;
}

.zmainGarant__left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}

.zmainGarant__right {
    position: absolute;
    right: 0;
    left: 50%;
    top: 0;
    bottom: 0;
    background: radial-gradient(140.79% 121.24% at 12.81% 16.62%, #29343A 0%, #5B6C74 100%);
}

.zmainGarant__content {
    max-width: 650px;
    padding: 105px 49px 105px 120px;
}

.zmainGarant__content h2 {
    margin-bottom: 20px;
}

.zmainGarant__content p {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 135%;
    margin-bottom: 42px;
}

.zmainGarant__content button {
    padding: 14px 30px;
    border: 0;
    cursor: pointer;
    border-radius: 3px;
    background-color: #B29470;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s ease-in-out background-color;
}

.zmainGarant__content button:hover {
    background-color: #A58865;
}

@media screen and (max-width: 1300px) {
    .zmainGarant__content {
        padding: 90px 60px;
    }
}

@media screen and (max-width: 1200px) {
    .zmainGarant__content {
        padding: 70px 40px;
    }
}

@media screen and (max-width: 992px) {
    .zmainGarant__inner {
        height: 430px;
    }

    .zmainGarant__content p {
        font-size: 16px;
    }
}

@media screen and (max-width: 768px) {
    .zmainGarant__content {
        padding: 40px 30px;
    }

    .zmainGarant__inner {
        grid-template-columns: 1fr;
        height: auto;
    }

    .zmainGarant__content {
        max-width: 100%;
    }

    .zmainGarant__left {
        position: static;
    }

    .zmainGarant__right {
        position: static;
    }
}

@media screen and (max-width: 576px) {
    .zmainGarant__left img {
        height: 227px;
    }

    .zmainGarant__content {
        padding: 20px;
        padding-bottom: 43px;
    }

    .zmainGarant__content h2 {
        margin-bottom: 15px;
    }

    .zmainGarant__content p {
        font-size: 14px;
        margin-bottom: 25px;
    }

    .zmainGarant__content button {
        font-size: 14px;
    }
}

/* End mainGarant */

/* mainProducst */

.zmainProducts {
    background-color: #F8F9FA;
    overflow: hidden;
}

.zmainProducts__inner h2 {
    margin-bottom: 35px;
}

.zmainProducts__all {
    display: flex;
    justify-content: center;
    margin-top: 36px;
}

.zmainProducts__all a {
    color: #828282;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s ease-in-out color;
}

.zmainProducts__all a:hover {
    color: #B29470;
}

.zmainProducts__item {
    display: flex;
    flex-direction: column;
    gap: 27px;
    padding: 5px;
    padding-bottom: 14px;
    border-radius: 3px;
    background: #FFF;
    max-width: 400px;
    height: 100%;
}

.zmainProducts__item-img {
    width: 100%;
    height: 300px;
}

.zmainProducts__item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.zmainProducts__item-content {
    padding: 0 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.zmainProducts__item-title {
    color: #34322D;
    text-align: center;
    font-size: 15px;
    line-height: 135%;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.zmainProducts__item-desc {
    color: #828282;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 135%;
    margin-bottom: 34px;
}

.zmainProducts__item-price {
    color: #34322D;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 135%;
    margin-bottom: 20px;
}

.zmainProducts__item-link {
    margin-top: auto;
    color: #34322D;
    font-size: 14px;
    font-weight: 500;
    line-height: 135%;
    border-radius: 3px;
    border: 1px solid #B29470;
    padding: 12px 30px;
    display: block;
    text-align: center;
    text-decoration: none;
    width: 100%;
    transition: 0.3s ease-in-out color, 0.3s ease-in-out background-color;
}

.zmainProducts__item-link:hover {
    color: #fff;
    background-color: #B29470;
}

/* swiper */

.zmainProducts .swiperProducts .swiper-slide {
    width: auto !important;
}

.zmainProducts .swiperProducts .swiper-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 20px;
}

@media screen and (max-width: 1200px) {
    .zmainProducts .swiperProducts .swiper-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .zmainProducts .swiperProducts .swiper-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 576px) {
    .zmainProducts__all a {
        font-size: 14px;
        display: flex;
    }

    .zmainProducts .swiperProducts .swiper-wrapper {
        display: flex;
        gap: 0;
    }

    .zmainProducts .swiperProducts .swiper-slide {
        width: 100% !important;
        display: flex;
        justify-content: center;
    }

    .swiper-pagination-products {
        display: flex;
        justify-content: center;
        margin-top: 18px;
    }

    .swiper-pagination-products .swiper-pagination-bullet {
        opacity: 1;
        background-color: #828282;
    }

    .swiper-pagination-products .swiper-pagination-bullet-active {
        background-color: #B29470;
    }

    .zmainProducts__item {
        max-width: 310px;
    }

    .zmainProducts__inner h2 {
        margin-bottom: 18px;
    }

    .zmainProducts__all {
        margin-top: 20px;
    }

}

/* End mainProducts */

/* Start mainExample */

.zmainExample {
    background-color: #F8F9FA;
    overflow: hidden;
}

.zmainExample__panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.zmainExample__all {
    color: #828282;
    font-size: 16px;
    font-weight: 500;
    text-decoration-line: underline;
    transition: 0.3s ease-in-out color;
}

.zmainExample__all:hover {
    color: #B29470;
}

.zmainExample__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.swiperExample {
    overflow: hidden;
}

.swiperExample .swiper-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
}

.swiperExample .swiper-slide {
    width: 100% !important;
}

@media screen and (max-width: 992px) {
    .swiperExample .swiper-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 576px) {
    .zmainExample__all {
        font-size: 14px;
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .swiperExample .swiper-wrapper {
        display: flex;
        gap: 0;
    }

    .swiper-pagination-example {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .swiper-pagination-example .swiper-pagination-bullet {
        opacity: 1;
        background-color: #828282;
    }

    .swiper-pagination-example .swiper-pagination-bullet-active {
        background-color: #B29470;
    }
}

/* End mainExample */

/* Start mainReviews */

.zmainReviews {
    background-color: #F8F9FA;
    overflow: hidden;
}

.zmainReviews__panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
}

.zmainReviews__all {
    color: #828282;
    font-size: 16px;
    font-weight: 500;
    text-decoration-line: underline;
    transition: 0.3s ease-in-out color;
}

.zmainReviews__all:hover {
    color: #B29470;
}

.zmainReviews__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 33px;
    position: relative;
    background-color: #fff;
    border-radius: 3px;
    padding: 40px;
    margin-top: 21px;
}

.zmainReviews__item-quotes {
    position: absolute;
    width: 58px;
    height: 41px;
    top: -21px;
}

.zmainReviews__item-top h5 {
    color: #34322D;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.zmainReviews__item-top span {
    display: inline-block;
    color: #828282;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 15px;
}

.zmainReviews__item-top p {
    color: #34322D;
    font-size: 16px;
    font-weight: 400;
    line-height: 145%;
}

.zmainReviews__item-bot {
    display: flex;
    gap: 7px;
    overflow: hidden;
}

.zmainReviews__item-bot img {
    object-fit: cover;
    object-position: center;
    width: 145px;
    height: 86px;
}

.zmainReviews__slider {
    display: flex;
    align-items: center;
    gap: 20px;
}

.swiperReviews {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.swiper-reviews-next {
    margin-right: -62px;
}

.swiper-reviews-prev {
    margin-left: -62px;
}

.swiper-reviews-prev,
.swiper-reviews-next {
    cursor: pointer;
}


@media screen and (max-width: 1450px) {
    .zmainReviews__slider {
        gap: 0;
    }

    .swiper-reviews-prev,
    .swiper-reviews-next {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .zmainReviews__item {
        padding: 25px;
    }
}

@media screen and (max-width: 768px) {
    .zmainReviews__item-bot img {
        width: 108px;
        height: 64px;
    }
}

@media screen and (min-width: 577px) {
    .swiper-pagination-reviews {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .zmainReviews__item {
        padding: 20px;
        gap: 25px;
        margin-top: 0;
    }

    .zmainReviews__item-top h5 {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .zmainReviews__item-top span {
        margin-bottom: 10px
    }

    .zmainReviews__item-top p {
        font-size: 14px;
    }

    .swiper-pagination-reviews {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .swiper-pagination-reviews .swiper-pagination-bullet {
        opacity: 1;
        background-color: #828282;
    }

    .swiper-pagination-reviews .swiper-pagination-bullet-active {
        background-color: #B29470;
    }

    .zmainReviews__all {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        font-size: 14px;
    }

    .zmainReviews__panel {
        margin-bottom: 20px;
    }

    .zmainReviews__item-quotes {
        position: static;
        width: 42px;
        height: 30px;
    }

    .zmainReviews__item-top {
        margin-top: -10px;
    }
}

/* End mainReviews */

/* Start mainSale */

.zmainSale {
    position: relative;
}

.zmainSale__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 460px;
}

.zmainSale__right {
    position: absolute;
    left: 50%;
    right: 0;
    top: 0;
    bottom: 0;
}

.zmainSale__right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.zmainSale__left {
    position: absolute;
    left: 0;
    right: 50%;
    top: 0;
    bottom: 0;
    background: radial-gradient(140.79% 121.24% at 12.81% 16.62%, #29343A 0%, #5B6C74 100%);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.zmainSale__content {
    max-width: 650px;
    padding-right: 50px;
}

.zmainSale__content h2 {
    margin-bottom: 20px;
}

.zmainSale__content p {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 135%;
    margin-bottom: 42px;
}

.zmainSale__content button {
    padding: 14px 30px;
    border: 0;
    cursor: pointer;
    border-radius: 3px;
    background: #B29470;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s ease-in-out background-color;
}

.zmainSale__content button:hover {
    background-color: #A58865;
}

@media screen and (max-width: 1350px) {
    .zmainSale__content {
        padding: 0 50px;
    }
}

@media screen and (max-width: 1200px) {
    .zmainSale__content {
        padding: 0 40px;
    }
}

@media screen and (max-width: 992px) {
    .zmainSale__inner {
        height: 430px;
    }

    .zmainSale__content p {
        font-size: 16px;
    }
}

@media screen and (max-width: 768px) {
    .zmainSale__content {
        padding: 40px 30px;
    }

    .zmainSale__inner {
        grid-template-columns: 1fr;
        height: auto;
    }

    .zmainSale__content {
        max-width: 100%;
    }

    .zmainSale__right {
        position: static;
    }

    .zmainSale__left {
        position: static;
        order: 2;
    }
}

@media screen and (max-width: 576px) {
    .zmainSale__right img {
        height: 227px;
    }

    .zmainSale__content {
        padding: 20px;
        padding-bottom: 43px;
    }

    .zmainSale__content h2 {
        margin-bottom: 15px;
    }

    .zmainSale__content p {
        font-size: 14px;
        margin-bottom: 25px;
    }

    .zmainSale__content button {
        font-size: 14px;
    }
}

/* End mainSale */

/* Start mainInfo */

.zmainInfo {
    background-color: #F8F9FA;
    overflow: hidden;
}

.zmainInfo__inner {
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.zmainInfo__top {
    display: flex;
    gap: 73px;
}

.zmainInfo__logo {
    border-radius: 3px;
    background: #B29470;
    padding: 67px 77px;
}

.zmainInfo__top-right h2 {
    margin-bottom: 30px;
    max-width: 580px;
}

.zmainInfo__text {
    display: flex;
    gap: 57px;
}

.zmainInfo__text p {
    color: #34322D;
    font-size: 16px;
    font-weight: 400;
    line-height: 145%;
}

.zmainInfo__bot {
    padding-right: 39px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 50px
}

.zmainInfo__link {
    display: block;
    padding: 13px 50px;
    border-radius: 3px;
    border: 1px solid #B29470;
    color: #34322D;
    font-size: 16px;
    font-weight: 500;
    line-height: 135%;
    text-decoration: none;
    white-space: nowrap;
    text-align: center;
    transition: 0.3s ease-in-out color, 0.3s ease-in-out background-color;
}

.zmainInfo__link:hover {
    color: #fff;
    background-color: #B29470;
}

.zmainInfo__list {
    display: flex;
    gap: 73px;
}

.zmainInfo__advant {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.zmainInfo__advant-title {
    color: #34322D;
    font-size: 34px;
    font-weight: 600;
    text-transform: uppercase;
}

.zmainInfo__advant-title span {
    font-size: 20px;
}

.zmainInfo__advant-desc {
    color: #34322D;
    font-size: 16px;
    font-weight: 500;
}

@media screen and (max-width: 1300px) {
    .zmainInfo__list {
        gap: 40px;
    }
}

@media screen and (max-width: 992px) {
    .zmainInfo__top {
        gap: 40px;
    }

    .zmainInfo__bot {
        padding: 0;
    }

    .zmainInfo__logo {
        padding: 40px 50px;
    }

    .zmainInfo__logo img {
        width: 50px;
    }
}

@media screen and (max-width: 768px) {
    .zmainInfo__logo img {
        width: 50px;
    }

    .zmainInfo__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    .zmainInfo__text {
        flex-direction: column;
        gap: 25px;
    }
}

@media screen and (max-width: 576px) {
    .zmainInfo__bot {
        flex-direction: column-reverse;
        align-items: center;
        gap: 25px
    }

    .zmainInfo__top-left {
        display: none;
    }

    .zmainInfo__top-right h2 {
        margin-bottom: 15px;
    }

    .zmainInfo__text {
        gap: 15px;
    }

    .zmainInfo__text p {
        font-size: 14px;
    }

    .zmainInfo__inner {
        gap: 25px;
    }

    .zmainInfo__advant-title,
    .zmainInfo__advant-title span {
        font-size: 24px;
    }

    .zmainInfo__advant-desc {
        font-size: 13px;
    }

    .zmainInfo__list {
        gap: 23px 30px;
    }

    .zmainInfo__link-wrap {
        width: 100%;
    }

    .zmainInfo__link {
        font-size: 14px;
    }
}

/* End mainInfo */